In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.linear_model import Lasso, LassoCV, Ridge, RidgeCV, ElasticNet, ElasticNetCV, LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from pandas_profiling import ProfileReport
import statsmodels.api as sm

In [2]:
df = pd.read_csv(r"C:\Users\ts-sachin.bhumihar\Downloads\Linear Regression - Sheet1.csv")

In [3]:
df.head(2)

   X         Y
0  1  3.888889
1  2  4.555556

In [4]:
df.tail(2)

       X         Y
298  299  1.888889
299  300  1.888889

In [5]:
df.shape

(300, 2)

In [6]:
pf = ProfileReport(df)

In [7]:
pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [8]:
x = df[["X"]]

In [9]:
x.head(1)

   X
0  1

In [10]:
y = df["Y"]

In [11]:
y.head(2)

0    3.888889
1    4.555556
Name: Y, dtype: float64

In [12]:
lr = LinearRegression()

In [13]:
lr.fit(x,y)

LinearRegression()

In [14]:
lr.intercept_

5.888799701613223

In [15]:
lr.coef_

array([0.64004489])

In [17]:
lr.score(x,y)

0.9213615685311795

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=45)

In [20]:
x_train

       X
8      9
148  149
104  105
46    47
234  235
..   ...
163  164
213  214
95    96
32    33
131  132

[240 rows x 1 columns]

In [21]:
x_test

       X
45    46
239  240
154  155
63    64
101  102
33    34
241  242
100  101
116  117
4      5
128  129
220  221
69    70
273  274
30    31
38    39
96    97
0      1
157  158
150  151
162  163
197  198
13    14
3      4
153  154
235  236
174  175
255  256
226  227
214  215
252  253
212  213
61    62
47    48
202  203
292  293
139  140
281  282
222  223
79    80
265  266
76    77
261  262
289  290
1      2
200  201
184  185
231  232
188  189
137  138
145  146
173  174
295  296
118  119
102  103
161  162
170  171
83    84
284  285
25    26

In [23]:
lr.fit(x_train, y_train)

LinearRegression()

In [24]:
lr.score(x_train, y_train)

0.9019276251308065

In [25]:
lr.score(x_test, y_test)

0.996579502611732

In [27]:
df.shape

(300, 2)

In [28]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [31]:
lassocv = LassoCV(alphas=None, max_iter=10000, cv = 10, normalize=True)

In [32]:
lassocv.fit(x_train, y_train)

LassoCV(cv=10, max_iter=10000, normalize=True)

In [33]:
lassocv.alpha_

0.003531603604137155

In [34]:
lasso = Lasso(alpha=lassocv.alpha_)

In [35]:
lasso.fit(x_train, y_train)

Lasso(alpha=0.003531603604137155)

In [36]:
lasso.score(x_train, y_train)

0.9019276251303032

In [37]:
lasso.score(x_test, y_test)

0.9965794303330086

In [38]:
ridgecv = RidgeCV(alphas=np.random.uniform(0,10,100), cv = 5, normalize=True)

In [39]:
ridgecv.fit(x_train, y_train)

RidgeCV(alphas=array([7.8280411 , 7.7524065 , 3.43185063, 7.05897357, 4.61653745,
       1.6873593 , 3.55938502, 0.38591064, 3.23971887, 7.70716038,
       9.059061  , 5.38037975, 4.32563346, 8.87891351, 1.46871557,
       4.2868074 , 0.35845527, 1.11991139, 9.96017446, 4.09604116,
       3.54619871, 5.80304099, 7.72945833, 1.7515387 , 6.78750487,
       5.50107744, 1.86137805, 6.90833612, 6.32178106, 1.15468315,
       5.981...
       0.12110551, 2.79727588, 5.60286483, 2.71681436, 9.81068989,
       3.66406483, 5.43643107, 6.4183017 , 9.69228075, 8.0140548 ,
       4.64763078, 7.63964051, 3.15294633, 6.55193097, 5.24894105,
       4.34057322, 1.88341567, 7.28240043, 1.79096745, 2.70184262,
       6.01768514, 3.02123292, 1.28860063, 8.33167632, 8.85173078,
       7.13437748, 5.26230382, 6.71238225, 8.28643567, 4.67221909]),
        cv=5, normalize=True)

In [40]:
ridgecv.alpha_

0.12110550691102451

In [41]:
ridge = Ridge(alpha=ridgecv.alpha_)

In [42]:
ridge.fit(x_train, y_train)

Ridge(alpha=0.12110550691102451)

In [43]:
ridge.score(x_train, y_train)

0.9019276251308024

In [44]:
ridge.score(x_test, y_test)

0.9965794960729353

In [45]:
elastic = ElasticNetCV(alphas=None, cv = 15, normalize=True)

In [46]:
elastic.fit(x_train, y_train)

ElasticNetCV(cv=15, normalize=True)

In [47]:
elastic.alpha_

0.007063207208274304

In [50]:
elastic.l1_ratio

0.5

In [51]:
elasticnet = ElasticNet(alpha=elastic.alpha_, l1_ratio=elastic.l1_ratio)

In [52]:
elastic.fit(x_train, y_train)

ElasticNetCV(cv=15, normalize=True)

In [54]:
elastic.score(x_train, y_train)

0.7116650105761747

In [55]:
elastic.score(x_test, y_test)

0.7617684229994615